.chooseContainer {
    margin-left: 8rem;
    transition: transform 0.3s ease;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 275px;
    height: 80px;
    margin: 6px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.row {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container:hover {
    background-color: white;
}

.heading .heading1 {
    font-size: 16px;
}

.icon img {
    margin-left: 8px;
    margin-right: 10px;
}

.text .heading {
    margin: 10px 0 5px 2px;
    transition: transform 0.3s ease;
}

.heading1 {
    transition: transform 0.3s ease;
    padding-top: 36px;
}

.oneliner {
    opacity: 0;
    margin-left: 0.6rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(20px);
    font-size: 10px;
    color: #666;
    padding: 0px 6px 6px 0px;
}

.container:hover{
    transform: translate(10px, -10px);
    transition: transform 0.3s ease;
}
.container:hover .oneliner {
    opacity: 1;
    transform: translateY(-10px);
    background-color: white;
}

.container:hover .heading {
    transform: translate(10px, -10px);
    font-weight: 600;
}

.container:hover .heading1 {
    transform: translate(10px, -10px);
    font-weight: 600;
}
.heading{
    padding-top: 36px;
}


.star {
    position: relative;
    left: -37px;
}

.head {
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;

}

@media (max-width: 768px) {
    .chooseContainer {
        margin-left: 0;
    }

    .row {
        justify-content: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 152px;
        height: max-content;
        border-radius: 6px 0px 0px 0px;
        padding: 6px;
    }

    .star {
        position: relative;
        top: 0px;
    }
    .oneliner{
        margin: 0px;
        text-align: center;
    }

    .head {
        padding-left: 29px;
        margin-top: 16px;
    }

    .heading1,
    .heading {
        font-size: 14px;
        font-weight: 500;
        line-height: 16.94px;
        text-align: center;
        padding: 0;
    }
}