.chooseContainer {
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;

}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    width: 370px;
    height: 384px;
    /* top: 1090px;
    left: 120px;
    gap: 0px; */
    border-radius: 8px 0px 0px 0px;
    border: 1.08px 0px 0px 0px;
    border-radius: 8px;
    margin: 10px;
    padding: 8px;

    /* border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 22rem;
    padding: 1rem;
    position: relative; */
}

.mainImg {
    /* margin-top: 18px;
    border-radius: 10px;
    width: 100%;
    height: 15rem; */
    width: 346px;
    height: 202px;
    /* top: 1172px;
    left: 547px;
    gap: 0px; */
    border-radius: 6px;
    /* opacity: 0px; */

}

.card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.card p {
    font-size: 1rem;
    color: #666;
}

/* .card {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #f5f5f5;

} */

/* .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
    height: 17%;
    margin-right: 8px;
    background-color: #fff;
} */

/* .card{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 45%;
} */
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ar1 {
    width: 10px;
    height: 15px;
}

.layering {
    position: relative;
    top: -18rem;
    width: 127px;
    height: Fixed (32px)px;
    padding: 8px 0px 0px 0px;

    /* left: 1rem; */
}

.layering1 {
    position: relative;
    top: 5rem;
    left: -10rem;
}

.bulk-pass {
    width: 167px;
    height: 66px;
    padding: 6px;
    border-radius: 6px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #ffcf4b;

}

.discount {
    /* position: absolute;
    right: 4rem; */
    background-color: #333;
    color: #fff;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    font-size: 0.6rem;
    margin-top: 1.5%;
    position: relative;
    left: 65%;
    width: 69px;
    height: 18px;
    border-radius: 3px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}

.day-pass {
    background-color: #EEE7E7;
    padding: 6px;
    width: 167px;
    height: 66px;
    border-radius: 6px 0px 0px 0px;
    border: 0.5px 0px 0px 0px;
}

/* .card .price {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: #ffcf4b;
    border-radius: 5px;
    width: 45%;
} */

/* .card .price{
    background-color: #ffcf4b;
} */

/* .card .discount {
    position: absolute;
    right: 4rem;
    background-color: #333;
    color: #fff;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    font-size: 0.6rem;
    margin-top: 1.5%;
} */

@media (max-width: 768px) {
    .section-header {
        padding-left: 29px;
    }

    .chooseContainer {
        margin-left: 0;
        /* Remove left margin */
    }

    .card {
        width: 100%;
        /* Full width for cards */
        margin-bottom: 20px;
        /* Add some bottom margin between cards */
    }

    .mainImg {
        height: 12rem;
        /* Adjust image height */
    }

    .day-pass {
        width: 142px;
        height: 58px;
        border-radius: 5px 0px 0px 0px;
        border: 0.5px 0px 0px 0px;
    }

    .bulk-pass {
        width: 167px;
        height: 58px;
        border-radius: 6px 0px 0px 0px;
        border: 1px 0px 0px 0px;
    }

    .discount {
        width: 69px;
        height: 18px;
        border-radius: 3px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        position: relative;
        left: 65%;
    }
}