.chooseContainer {
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;

}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    width: 370px;
    height: 384px;
    border-radius: 8px 0px 0px 0px;
    border: 1.08px 0px 0px 0px;
    border-radius: 8px;
    margin: 10px;
    padding: 8px;

}

.mainImg {
    width: 346px;
    height: 202px;
    border-radius: 6px;

}

.card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.card p {
    font-size: 1rem;
    color: #666;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ar1 {
    width: 10px;
    height: 15px;
}

.layering {
    position: relative;
    top: -19rem;
    width: 127px;
    height: Fixed (32px)px;
    padding: 8px 0px 0px 0px;
}

.layering1 {
    position: relative;
    top: 5rem;
    left: -10rem;
}

.bulk-pass {
    width: 167px;
    height: 66px;
    padding: 6px;
    border-radius: 6px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #ffcf4b;

}

.discount {
    background-color: #333;
    color: #fff;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    font-size: 0.6rem;
    margin-top: 1.5%;
    position: relative;
    left: 65%;
    width: 69px;
    height: 18px;
    border-radius: 3px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}

.day-pass {
    background-color: #EEE7E7;
    padding: 6px;
    width: 167px;
    height: 66px;
    border-radius: 6px 0px 0px 0px;
    border: 0.5px 0px 0px 0px;
}
.price-value{
font-size: 20px;
font-weight: 600;
line-height: 24.2px;
text-align: left;

}

@media (max-width: 768px) {
    .section-header {
        padding-left: 29px;
    }

    .chooseContainer {
        margin-left: 0;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .mainImg {
        height: 12rem;
    }

    .day-pass {
        width: 142px;
        height: 58px;
        border-radius: 5px 0px 0px 0px;
        border: 0.5px 0px 0px 0px;
    }

    .bulk-pass {
        width: 167px;
        height: 58px;
        border-radius: 6px 0px 0px 0px;
        border: 1px 0px 0px 0px;
    }

    .discount {
        width: 69px;
        height: 18px;
        border-radius: 3px;
        border: 1px;
        opacity: 0px;
        position: relative;
        left: 65%;
    }
    .layering{
        top: -18rem;
    }
}