.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5.5rem;
}

.mainContainer {
    background-image: url('../../images/image\ 1936.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 806px;
    height: 254px;
    top: 170px;
    left: 120px;
    gap: 0px;
    opacity: 0px;
}

.span {
    color: #ffbb00;
}

.mainHeading {
    font-family: Inter;
    font-size: 58px;
    font-weight: 700;
    line-height: 70.19px;
    letter-spacing: -1px;
    text-align: left;
    padding-left: 8rem;
}

.imageContianer {
    background-image: url('../../images/Coworking\ video\ 1.png');
    background-size: cover;
    height: 25rem;

}

.mainImage {
    width: 388px;
    height: 388px;
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column-reverse;
    }

    .mainContainer {
        width: 100%;
        height: auto;
    }

    .mainHeading {
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
        letter-spacing: -1px;
        text-align: center;
        padding: 6px;
    }

    .imageContainer {
        height: 20rem;
    }

    .mainImage {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }
}