.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5.5rem;
}

.mainContainer {
    background-image: url('../../images/image\ 1936.png');
    /* background-color: #e0e0e033; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 806px;
    height: 254px;
    top: 170px;
    left: 120px;
    gap: 0px;
    opacity: 0px;

    /* width: 73vw;
    height: 80vh; */
    /* margin-top: 5rem; */

}

.span {
    color: #ffbb00;
}

.mainHeading {
    font-family: Inter;
    font-size: 58px;
    font-weight: 700;
    line-height: 70.19px;
    letter-spacing: -1px;
    text-align: left;
    padding-left: 8rem;

    /* margin-top: 6rem; */
    /* font-size: 3.5rem;
    font-weight: bold;
    color: #263238;
    padding-left: 8rem; */
}

.imageContianer {
    /* margin-top:5rem ; */
    background-image: url('../../images/Coworking\ video\ 1.png');
    background-size: cover;
    height: 25rem;

}

.mainImage {
    width: 388px;
    height: 388px;
    /* top: 132px;
    left: 932px;
    gap: 0px;
    opacity: 0px; */

    /* 
    width: 23rem;
    height: 25rem; */
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column-reverse; /* Reverse order for mobile */
    }

    .mainContainer {
        width: 100%; /* Adjust width for full width on mobile */
        height: auto; /* Auto height to maintain aspect ratio */
        /* margin-top: 2rem; 
        padding: 2rem;  */
    }

    .mainHeading {
        /* font-size: 2.5rem; 
        padding-left: 2rem; 
        text-align: center;  */
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
        letter-spacing: -1px;
        text-align: center;  
        padding: 6px;
    }

    .imageContainer {
        height: 20rem; /* Adjust height for mobile */
    }

    .mainImage {
        width: 100%; /* Full width for mobile */
        height: auto; /* Auto height to maintain aspect ratio */
        margin-top: 2rem; /* Adjust margin for spacing */
    }
}

