.promoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #2e2c2c; */
    /* padding: 2rem; */
    margin-left: 8rem;
    /* margin-top: 1rem; */
    border-radius: 10px;
    height: 313px;
    /* box-shadow: 0 4px 6px rgb(245, 241, 241); */
  }
  .mobileContainer{
    display: flex;
    flex-direction: column;
     /* margin-left: 1rem;  */
    position: relative;
    top:-6rem;
    left: 1.5rem;
    
    
  }
  
  .mobileImages {
    position: relative;
    width: 40%;
    margin-top: 2rem;
  }
  
  .mobileImages img {
    /* width: 100%; */
    max-width: 200px;
  }
  
  .mobile1 {
    position: absolute;
    top: -1rem;
    left: 0;
    z-index: 2;
  }
  .download{
    margin: 4rem 0rem 2rem 8rem;
  }
  .mobile2 {
    position: absolute;
    top: 0.65rem;
    left: 11rem;
    z-index: 1;
  }
  
  .promoText {
     position: relative; 
    background-color: #FFFFFF;
    top:11rem; 
    color: #605F5F;
    /* font-size: 16px; */
    border-radius: 1rem;
    /* border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
    text-align: left;
    /* right:-1rem; */
    /* word-break: break-word; */
    width: 100%;
    padding: 2rem;
  }
  
  /* .promoText h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  } */
  
  .promoText p {
    font-size: 20px;
    font-weight: 500;
    color: #666;
    /* position: relative; */
    margin-left: 33rem;
    margin-bottom: 1rem;
  }
  
  .downloadButtons {
    display: flex;
    margin-left: 13rem;
    justify-content: center; 
    align-items: center; 
    gap: 1rem;
  }
  
  .downloadButton {
    width: 150px;
    height: auto;
  }
  
  