.mobileContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -6rem;
  left: 1.5rem;


}

.mobileImages {
  position: relative;
  width: 40%;
  margin-top: 2rem;
}

.mobileImages img {
  max-width: 200px;
}

.mobile1 {
  position: relative;
  z-index: 2;
}

.download {
  font-size: 36px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #605F5F;
  margin: 4rem 0rem 2rem 8rem;
}

.mobile2 {
  position: relative;
    left: -3%;
}

.promoText {
  position: relative;
  background-color: #FFFFFF;
  top: 11rem;
  color: #605F5F;
  border-radius: 1rem;
  text-align: left;
  width: 100%;
  padding: 2rem;
}

/* .promoText h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  } */

.promoText p {
  font-size: 20px;
  font-weight: 500;
  color: #666;
  margin-left: 33rem;
  margin-bottom: 1rem;
}

.downloadButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.downloadButton {
  width: 150px;
  height: auto;
}

.container-promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 8rem;
  width: 75vw;
  height: 150px;
  background-color: #FFFFFF;
  gap: 0px;
  padding: 14px;
  border-radius: 18px;
  border: 1px 0px 0px 0px;
  /* opacity: 0px; */
  margin-top: 18%;
}

@media (max-width: 768px) {
  .container-promo{
    margin-top: 70%;
    justify-content: center;
    margin-left: 11.5rem;
  }
  .download {
    margin: 0;
    padding-left: 8px;
    font-size: 24px;
  }

  .promoText-text {
    display: none;
  }

  .mobile1 {
    width: 156.4px;
    height: 329.43px;
    border-radius: 14.25px 0px 0px 0px;
    /* opacity: 0px; */

  }

  .mobile2 {
    width: 156.4px;
    height: 321.43px;
    border-radius: 14.25px 0px 0px 0px;
    /* opacity: 0px; */
    left: -9px;
    margin-top: 9px;
  }

  .mobile-container {
    display: flex;
    justify-content: center;
    width: 35vw;
    margin-bottom: 20%;
  }

  .promoContainer {
    flex-direction: column;
    width: 320px;
    height: 296px;
    border-radius: 8px 0px 0px 0px;
    border: 0.5px 0px 0px 0px;
    /* opacity: 0px; */

  }

  .downloadButtons {
    margin: 0;
    position: relative;
    margin: 0;
    top: -299%;
    right: 70%;

  }

  .promoText {
    position: relative;
    top: 90%;
    right: 117vw;
  }
}