@import url('https://fonts.googleapis.com/css?family=Inter');
body{
  background-color: #F9FAFF !important;
  box-sizing: border-box !important;
  font-family: 'Inter' !important;
}

.footer{
  color: #DDDDDD;
  background-color: #222E34;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.appContainer{
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body::-webkit-scrollbar {
  width: 8px; 
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px; 
}


body::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px; 
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (max-width: 768px) {
  .footer {
    top: 0rem !important;
    z-index: 100;
  }
}