@import url('https://fonts.googleapis.com/css?family=Inter');
/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} */
body{
  background-color: #F9FAFF !important;
  box-sizing: border-box !important;
  font-family: 'Inter' !important;
}

.footer{
  position: relative;
  top:9rem;
  color: #DDDDDD;
  background-color: #222E34;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.appContainer{
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  text-align: center; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
